logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

bin/
/db
.eclipse
/lib/
/modules
tmp/
test-result
server.pid
*.eml
/dist/
.cache


.DS_Store
._*

bower_components
.sbtserver/
project/.sbtserver
project/.sbtserver.lock

